<html>
    <head>
        <title>Hymio - Discord Emoji Manager Bot</title>
        <link rel="stylesheet" href="/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="hoverTip" class="hiddenHoverTip"></div>
        <div class="header">
            <div class="gradientProgress">
                <div id="gradientRight" style="width: 100%"></div>
            </div> 
            <div class="center">
                <div class="headerFlex">
                    <div class="headerTitle">
                        <img src="<%=server.icon%>" class="serverIcon">
                        <div class="headerTitleContent">
                            <span class="headerSecondary">
                                You are managing the emojis of
                            </span>
                            <span class="headerPrimary">
                                <%=server.name%>
                            </span>
                        </div>
                    </div>
                    <div class="headerMeter">
                        <span class="headerSecondary">
                            Emoji slots
                        </span>
                        <span class="headerPrimary" id="stillEmojiSlotsCount">
                            ...
                        </span>
                    </div>
                    <div class="headerMeter">
                        <span class="headerSecondary">
                            Animated emoji slots
                        </span>
                        <span class="headerPrimary" id="animatedEmojiSlotsCount">
                            ...
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="smallerCenter">
            <input type="search" class="searchContainer" id="search" autocomplete="off" placeholder="🔎 Search emojis...">
        </div>
        <div class="smallerCenter emojiContainer">
            <div class="innerPadding">
                <!-- still emojis-->
                <div>
                    <span class="headerSecondary">
                        Your current emojis
                    </span>
                    <%- include('components/emptyEmojisContainer.ejs', {type: 'still'}) %>
                    <div class="emojiList" id="emojiListStill"></div>
                </div>
                <hr class="gap" />
                <!-- animated emojis -->
                <div>
                    <span class="headerSecondary">
                        Your current animated emojis
                    </span>
                    <%- include('components/emptyEmojisContainer.ejs', {type: 'animated'}) %>
                    <div class="emojiList" id="emojiListAnimated"></div>
                </div>
            </div>
        </div>
        <div class="smallerCenter emojiContainer">
            <div class="innerPadding">
                <!-- all emojis -->
                <div>
                    <span class="headerSecondary">
                        Browse new emojis
                    </span>
                    <div class="emojiList" id="emojiListAll"></div>
                </div>
            </div>
        </div>
    </body>
    <script>
        let slots = {
            still: <%=server.emojiSlots.still%>,
            animated: <%=server.emojiSlots.animated%>
        };
        let key = '<%=key%>';
    </script>
    <script src="/main.js"></script>
</html>